table,td{
    border: 1px solid black;
    padding: 20px;
    background-color: rgb(57, 109, 57);
    color: white;
    margin-left: 200px;



    
}
#board{
    width: 75%;
    margin-top: 10px;
    margin-left: 50px;
    align-items: center;



}

body{
    width: 75%;
    margin: 0 auto;
    text-align: center;
}
P1{
    color: rgb(212, 24, 11);
}

